@model BusinessLogic.Models.DepositCatalog
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.DepositName;
}
<div class="card shadow-sm bg-white rounded mb-4">
    <div class="card-header bg-primary text-white">
        <h3>@Model.BankName – @Model.DepositName</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Тип на депозит</th>
                    <td>@Model.DepositType</td>
                </tr>
                <tr>
                    <th>Договорена лихва (описание)</th>
                    <td><pre class="m-0">@Model.ContractInterestDescription</pre></td>
                </tr>
                <tr>
                    <th>Вид лихва</th>
                    <td>@Model.InterestType</td>
                </tr>
                <tr>
                    <th>Капитализира ли се лихвата?</th>
                    <td>@(Model.IsInterestCapitalized ? "Да" : "Не")</td>
                </tr>
                <tr>
                    <th>Изплащане на лихви</th>
                    <td>@Model.InterestPayout</td>
                </tr>
                <tr>
                    <th>Ежемесечно олихвяване</th>
                    <td>@(Model.IsMonthlyCompounding ? "Да" : "Не")</td>
                </tr>
                <tr>
                    <th>Валута</th>
                    <td>@Model.Currency</td>
                </tr>
                <tr>
                    <th>За кого е депозитът</th>
                    <td>@Model.ForWho</td>
                </tr>
                <tr>
                    <th>Минимална сума</th>
                    <td>@Model.MinAmount?.ToString("N2")</td>
                </tr>
                <tr>
                    <th>Минимална сума (описание)</th>
                    <td>@Model.MinAmountDescription</td>
                </tr>
                <tr>
                    <th>Минимален срок (месеци)</th>
                    <td>@Model.MinTermMonths</td>
                </tr>
                <tr>
                    <th>Максимален срок (месеци)</th>
                    <td>@Model.MaxTermMonths</td>
                </tr>
                <tr>
                    <th>Срокове валидни (описание)</th>
                    <td>@Model.ValidTermsDescription</td>
                </tr>
                <tr>
                    <th>Възможност за овърдрафт</th>
                    <td>@(Model.OverdraftAllowed ? "Да" : "Не")</td>
                </tr>
                <tr>
                    <th>Довнасяне на суми</th>
                    <td>@(Model.AllowsTopUp ? "Да" : "Не")</td>
                </tr>
                <tr>
                    <th>Допълнителни условия</th>
                    <td>@Model.AdditionalConditions</td>
                </tr>
            </tbody>
        </table>
        <a asp-action="PaymentSchedule"
           asp-route-id="@Model.Id"
           class="btn btn-success">
            Изчисли план
        </a>
    </div>
</div>
